* {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/**************** MENU **************************/
header {
    background-color: #657261;
    width: 100vw;
    border-bottom: 1px solid white;  
}

.menu { 
    height: 75px;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    color: white;
    font-size: 3em;
    font-weight: bold;
}

.container_menu {
    display: flex;
}

.menu_items {
    display: flex;
    list-style: none;
}

.menu_items li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 1em;
    color: white;
    font-weight: bold;
    display: block;
}

.container_menu i {
    color: white;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
}

.mostrar {
    height: 300px;
}

.btn_menu {
    font-size: 1.8em;
    color: white;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 952px){
    .logo {
        font-size: 2em;
    }
    .menu_items li a{
        font-size: 0.8em;
    }
}


@media screen and (max-width: 858px){
    .btn_menu {
        display: inline-flex;
    }

    .container_menu {
        position: fixed;
        width: 100vw;
        height: calc(100% - 75px);
        background: #414141;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column-reverse;
    }

    .menu_items li {
        margin: 30px 0 0 0;
        line-height: 30px;
    }
}



/************ FOOTER ************************/

footer {
    width: 100vw;
    background-color: #657261;
}

.container_footer {
    max-width: 1400px;
    padding: 20px 30px;
    margin: 0 auto;
}

.footer_items {
    display: flex;
}

.footer_items .information {
    color: white;
}
.footer_items .information .first{
    font-size: 3em;
    font-weight: bold;
    margin: 0;
}

.footer_items .information .second{
    font-size: 1.5em;
    margin: 10px 0;
}

.social {
    padding-left: 16px;
}
.social i {
    color: white;
    font-size: 1.8em;
    padding: 0 10px;
}

.copy {
    color: white;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 858px){
    .footer_items {
        flex-direction: column;
    }

    .social {
        padding: 16px 0;
    }
}


/******************** HOME **************************/

.container_home {
    max-width: 1400px;
    margin: 0 auto;
    min-height: calc(100vh - 75px);
}


.home {
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(55,171,95,0.37608546836703427) 0%), url(../assets/home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    height: calc(100vh - 75px);
    width: 100%;
    position: relative;
}

.home_social {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

.home_social i{
    color: white;
    padding: 0 10px;
    cursor: pointer;
}

.container_question {
    text-align: center;
    background-color: #9aaeac;
    color: white;
    padding: 16px;
}

.container_question .question_title {
    font-size: 2em;
    padding-bottom: 5px;
}

.container_question .question_p {
    font-size: 1.1em;
    font-weight: bold;
}

.container_card {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-width: 900px;
    margin: 0 auto;
    gap: 20px;
    padding-top: 60px;
}

.card {
    text-align: center;
    color: #657261;
    font-weight: bold;
}

.card i {
    font-size: 5em;
    padding-bottom: 20px;
}

.privacity_p {
    font-size: 0.8em;
    font-weight: normal;
}


.container_button {
    padding-top: 50px;
    text-align: center;
}

.button_start {
    background-color: white;
    border: 2px solid #657261;
    color: #657261;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 5px 20px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}

.button_buy {
    background-color: #657261;
    color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 5px 20px;
    font-size: 1.1em;
    font-weight: bold;
    border: 2px solid #657261;
    cursor: pointer;
}

.container_buy_pay {
    text-align: center;
    padding-top: 50px;
}

.container_buy_pay p{
    color: #657261;
    font-weight: bold;
    font-size: 1.2em;
}

.container_buy_pay i{
    font-size: 2em;
}

@media screen and (max-width: 1024px){ 
    .container_card {
        grid-template-columns: repeat(2,1fr);
        padding: 60px 20px 0 20px;
    }
}

@media screen and (max-width: 600px){ 
    .container_card {
        grid-template-columns: repeat(1,1fr);
        padding: 60px 20px 0 20px;
    }

    .button_start {
        
        font-size: 1em;
    }
    
    .button_buy {
        font-size: 1em;
    }
}


.container_reserve {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 30px;
    max-height: 630px;
    gap: 5px;
}
    
.reserve_information {
    border-top: 5px solid #4b7991;
    height: 300px;
    color: #657261;
    display: flex;
    justify-content: center;
}

.reserve {
    padding-top: 30px;
    width: 350px;

}   

.reserve .first {
    padding-bottom: 10px;
    font-size: 1.5em;
    font-weight: 200;
}

.reserve .second {
    padding-bottom: 10px;
}

.reserve .third {
    padding-bottom: 30px;
}

.reserve_information button{
    background-color: #657261;
    color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 5px 20px;
    font-size: 1.1em;
    font-weight: bold;
    border: 2px solid #657261;
    cursor: pointer;
}

.reserve_image {
    background-image: url(../assets/bicicleta.jpg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 300px;
    width: 100%;
}

@media screen and (max-width: 700px){ 
    .container_reserve {
        grid-template-columns: repeat(1,1fr);
    }
}

.container_maps iframe {
    width: 100%;
}



.container_contact {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.container_contact_form {
    max-width: 500px;
    margin: 0 auto;
}

.container_contact_title_form {
    color: #657261;

}

.container_contact_title_form .p_first{
    padding-bottom: 5px;
    font-size: 1.5em;
    font-weight: 200;
}

.container_contact_title_form .p_second{
    padding-bottom: 20px;
    font-size: 1em;
    font-weight: 200;
}

.form_contact {
    display: flex;
    flex-direction: column;
}

.form_contact input{
    margin-bottom: 15px;
    border: 3px solid #666666;
    height: 40px;
    padding: 15px;
    color: black;
    font-weight: bold;
    font-size: 1em;
}

.form_contact textarea{
    margin-bottom: 15px;
    resize: none;
    border: 3px solid #666666;
    height: 80px;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 1em;
}

.form_contact button{
    height: 40px;
    width: 200px;
    color: white;
    background-color: #666666;
    border: 2px solid #666666;
    font-weight: bold;
}

.container_contact_information {
    display: flex;
    align-items: center;
}

.container_contact_title_information {
    color: #657261;
}

.container_contact_title_information .contact_first {
    font-size: 3em;
    font-weight: bold;
}

.container_contact_title_information .contact_second {
    font-size: 1.5em;
    padding-bottom: 10px;
}

.container_contact_title_information .contact_third {
    font-size: 1em;
    font-weight: 500;
}

.container_contact_title_information .contact_fourth {
    font-size: 1em;
    font-weight: 500;
    padding-bottom: 15px;
}

@media screen and (max-width: 700px){ 
    .container_contact {
        grid-template-columns: repeat(1,1fr);
    }

    .container_contact_information {
        display: flex;
        align-items: center;
        padding-left: 20px;
    }
}